.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
  margin: 0;
}

.wraper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservation__title {
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
