.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.listas {
  list-style: none;
}

.nav {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Inter";
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
  color: #000;
}

.nav__link {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav__link:link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin-top: 183px;
  margin-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__footer-horario {
  position: absolute;
  left: 80px;
  bottom: 40px;
  /*margin-bottom: 40px;
  margin-left: 80px;*/
}

.header__paragraph-direccion {
  position: absolute;
  right: 80px;
  bottom: 40px;
  /*margin-bottom: 40px;
  margin-right: 80px;*/
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  padding-left: 80px;
  padding-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 215px;
  align-items: center;
  padding-left: 15%;
}

.recipes__video-item {
  display: flex;
  gap: 40px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-captions {
  display: flex;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  gap: 250px;
}

.recipes__video-caption {
  color: #fff;
  text-decoration: none;
}

/*.recipes__video-caption:link {
  color: #fff;
  text-decoration: none;
}*/
.recipes__video-caption:hover {
  color: #2f80ed;
}
